{% extends "pegasus/examples/examples_base.html" %}
{% load staticfiles %}
{% block app %}
<style type="text/css">
	.display-none{
		display: none;
	}
	.zoom:hover {
		z-index: inherit;
		transform: scale(3.5);
	}
</style>
<div class="row mt-5 align-items-center justify-content-between">
    <div class="col-auto">
        <h3 class="app-page-title mb-0"><i class="fas fa-terminal text-success me-2" style="zoom:0.85"></i> Sub-Parent OpenAI Prompt</h3>
    </div>
    <div class="col-auto">
         <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                <div class="col-auto">						    
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add_prompt">
                        <i class="fas fa-plus"></i>
                        Add Prompt
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<section class="app-card">
    <div class="app-card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="api_prompt" width="100%">
                <thead>
                    <tr>
                        <th class="cell">Action</th>
                        <th class="cell">Prompt Name</th>
						<th class="cell">Created At</th>
                        <th class="cell">Updated At</th>
                        <th class="cell text-center">Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<div class="modal fade" id="add_prompt" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-terminal text-success me-2" style="zoom:0.85"></i> CREATE PROMPT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="submitForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label>Name <span class="text-danger">*</span></label>
                        <input name="name" type="text" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="mb-3">
                        <label>Prompt <span class="text-danger">*</span> <span class="text-danger">Note: If you want to create new prompt please used #Keyword, Header, Title and Other. Please do not remove or update the word starts from #Keyword, Header, or Title because it is static, for want some information please contact the System Administrator. 
							Thank you!</span></label>
                        <textarea class="form-control" name="prompt" rows="4" cols="80" required></textarea>
                    </div>
					<div class="mb-3">
                        <label>Order <span class="text-danger">*</span></label>
                        <input name="order" type="number" class="form-control" placeholder="0" required>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="status">
                        <label class="form-check-label" for="flexCheckDefault">
                            Status
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-api-modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="viewModal" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title"><i class="fas fa-edit text-success me-2" style="zoom:0.85"></i> EDIT PROMPT</h5>
		  <button type="button" class="btn-close"  data-bs-dismiss="modal" id="close-up-modal" aria-label="Close"></button>
		</div>
		<div class="view_edit_modal_content"></div>
	  </div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
		$('#api_prompt').DataTable({
			'serverSide': true,
			'processing': true,
			'deferRender': true,
			'lengthMenu': [ 10, 25, 50, 100 ],
			'order': [[ 2, 'desc' ]],
			'bDestroy': true,
			'ajax': {
				'url': `/indexer/new/api/user/open_ai_prompt/?format=datatables`,
				'type': 'GET',
			},
			'columns': [
				{'data': 'id',
					'render': function(data, type, row, meta) {
						return `<a data-role="edit" data-id=`+ row['id'] + ` style="cursor:pointer;" class="text-primary">View</a>`
					},
					'className': 'text-center'
				},
				{'data': 'name',
                    'render': function(data, type, row, meta){
                        return '<span style="white-space: normal;">'+data+'</span>'
                    },
					'className': 'text-center'
                },
				{'data': 'dateadded'},
				{'data': 'updated_at'},
				{'data': 'status',
					'render': function(data, type, row, meta) {
						if(row['status'] == 1) {
							return '<svg xmlns="http://www.w3.org/2000/svg" width="16" style="color:green" height="16" fill="currentColor" class="bi 					bi-check-circle" viewBox="0 0 16 16">\
										  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
										  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>\
									</svg> Active'
						}else if (row['status'] == 0) {
							return '<svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi 						bi-x-circle" viewBox="0 0 16 16">\
									  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
									  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>\
									</svg> Inactive'
						}
					},
					'className': 'text-center'
				},
			],
			"columnDefs": [
			  { "orderable": false, "searchable": false, "targets": [4] }
			]
		});

		$('#submitForm').on('submit', function(e){
			var form = new FormData(this);
			Swal.fire({
				title: "Are you sure",
				text: "You want to add this prompt?",
				icon: "info",
				showCancelButton: true,
				confirmButtonText: "Yes",
				allowOutsideClick: false,
				showLoaderOnConfirm: true,
				preConfirm: function (){
					return $.post({
						url: "{% url 'user_open_ai_prompt' %}",
						data: form,
						success : function (response){
							if(response.data == "success"){
								Swal.fire({
									title: "Good job!",
									html:  response.msg,
									icon: "success",
									allowOutsideClick: false,
								}).then((result) => {
									if (result.isConfirmed){
										$('#submitForm').trigger('reset');
										$('#api_prompt').DataTable().ajax.reload();
										$('#close-api-modal').click();
									}
								});
							}else{
								Swal.fire({
									title: "Oops!",
									html:  response.msg,
									icon: "error",
									allowOutsideClick: false,
								});
							}
						},
						cache       : false,
						contentType : false,
						processData : false,
					});
				},
			});
			e.preventDefault();
		});

		$(document).on('click', 'a[data-role=edit]', function(){
	        var id = $(this).data('id');
	        var viewModal = new bootstrap.Modal(document.getElementById('viewModal'), {});
			$('.view_edit_modal_content', $('#viewModal')).load('/user/open-ai/prompt/view/' + id, function(){
				viewModal.show();
			});
	    });
	});

    const closeModal = (modal) => {
        $(`#${modal}`).toggle('modal');
    }
</script>
{% endblock %}