<form id="updateIndexForms">
	<div class="modal-body">
		{% csrf_token %}
		<div class="mb-3">
			<label>API Key<span class="asteriskField">*</span></label>
			<select class="form-select select2" data-dropdown-parent="#viewModal" name="api_email" id="api_email" required>
				<option></option>
				{% for row in api %}
					{% if row.id == mob_web.api_id %}
					<option value="{{ row.id }}" selected>{{ row.email }}</option>
					{% else %}
					<option value="{{ row.id }}">{{ row.email }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="mb-3">
			<label>Website <span class="asteriskField">*</span></label>
			<input type="text" class="form-control" name="website" placeholder="Website" required value="{{mob_web.website}}">
		</div>
		<div class="mb-3">
			<label>Result <span class="asteriskField">*</span></label>
			<textarea class="form-control" rows="10" name="index_index_api" readonly>{% if mob_web.result %}{{mob_web.result}}{% endif %}</textarea>
		</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-api-modal">Close</button>
		<button type="submit" class="btn btn-primary">Save changes</button>
		</div>
	</form>
{% block script %}
<script type="text/javascript">
	$('.select2').select2({
		width: '100%',
		theme: 'bootstrap-5',
	    placeholder: 'Choose',
	});

	$('#updateIndexForm').on('submit', function(e){
        var form = new FormData(this);
        Swal.fire({
            title: "Are you sure",
            text: "You want to edit your the api keys?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            allowOutsideClick: false,
            showLoaderOnConfirm: true,
            preConfirm: function (){
                return $.post({
                    url: "#",
                    data: form,
                    success : function (response){
                        if(response.data == "success"){
                            Swal.fire({
                                title: "Good job!",
                                html:  response.msg,
                                icon: "success",
                                allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed){
                                    $('#updateIndexForm').trigger('reset');
                                    $('#api_keys').DataTable().ajax.reload();
                                    $('#close-up-modal').click();
                                }
                            });
                        }else{
							Swal.fire({
								title: "Oops!",
								html:  response.msg,
								icon: "error",
								allowOutsideClick: false,
							});
						}
                    },
                    cache       : false,
                    contentType : false,
                    processData : false,
                });
            },
        });
        e.preventDefault();
    });
</script>
{% endblock %}