{% load static %}
{% load meta_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * 'self' data: https:;">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--IE compatibility-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if project_meta %}
	{% with project_meta|get_title:page_title as title %}
	{% with project_meta|get_description:page_description as description %}
	{% with project_meta|get_image_url:page_image as image %}
			<title>{% block page_title %}{{ title }}{% endblock %}</title>
			<meta name="description" content="{{ description }}">
			<meta name="keywords" content="{{ project_meta.KEYWORDS }}">
			<!-- Twitter Card data -->
			<meta name="twitter:card" content="summary">
			<meta name="twitter:title" content="{{ title }}">
			<meta name="twitter:description" content="{{ description }}">
			<meta name="twitter:image" content="{{ image }}">
			<!-- Open Graph data -->
			<meta property="og:title" content="{{ title }}" />
			<meta property="og:type" content="website" />
			<meta property="og:url" content="{{ page_url }}" />
			<meta property="og:image" content="{{ image }}" />
			<meta property="og:description" content="{{ description }}" />
			<meta property="og:site_name" content="{{ project_meta.NAME }}" />
			<link rel="canonical" href="{% if page_canonical_url %}{{ page_canonical_url }}{% else %}{{ page_url }}{% endif %}">
			
	{% endwith %}
	{% endwith %}
	{% endwith %}
{% endif %}
{% include 'web/components/favicon.html' %}
		<link rel="stylesheet" href="{% static 'css/site-base.css' %}">
		<link rel="stylesheet" href="{% static 'css/site-bootstrap.css' %}">
		<!--     Fonts and icons     -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
		<!-- Font Awesome Icons -->
		<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
		<!-- Material Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
		<script src="https://use.fontawesome.com/72135c02f1.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/v4-shims.min.css" integrity="sha512-ARfx5eajdcCAuWvuJrgUuJ6D25ON3KZRTCghNXXKeJldCQJ5bXS+6CvG2EhcFWITF95uwZydzpufSKvhmSpTxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<link href="{% static 'indexing/css/plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'indexing/css/plugins/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'indexing/css/plugins/textSpinner/spinner.css' %}" rel="stylesheet" type="text/css" >
		<link href="{% static 'indexing/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'indexing/css/select2-bootstrap-5-theme.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'indexing/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">

		<script src="{% static 'indexing/js/jquery-3.1.1.min.js' %}"></script>
		<script src="{% static 'indexing/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'indexing/js/sidebars.js' %}"></script>
			<!-- Libraries -->
		<script src="{% static 'indexing/js/select2.full.min.js' %}"></script>
		<script src="{% static 'indexing/css/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
		<script src="{% static 'indexing/css/plugins/datatables/datatables.min.js' %}"></script>
		<script src="{% static 'indexing/css/plugins/summernote/summernote.min.js' %}"></script>

		<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
		<script type="text/javascript">
			$('.select2').select2({
					width: '100%',
					theme: 'bootstrap-5',
					placeholder: 'Choose',
			});
		</script>
		{% if GOOGLE_ANALYTICS_ID %}
				{% include 'web/components/google_analytics.html' %}
		{% endif %}
		{% block page_head %}
		{% endblock %}
</head>
<body class="g-sidenav-show bg-gray-200">
{% block body_wrapper %}
{% block top_nav %}
	{% include 'web/components/top_nav.html' %}
{% endblock %}
{% block messages %}
	{% include 'web/components/messages.html' %}
{% endblock messages %}
{% block body %}
{% endblock body %}
{% block footer %}
	{% include 'web/components/footer.html' %}
{% endblock footer %}
{% endblock body_wrapper %}
{% block page_js %}
{% endblock page_js %}
	{% include 'web/components/messages-js.html' %}
	<script src="{% static 'js/site-bootstrap-bundle.js' %}"></script>
	{% include 'web/components/sidenav_js.html' %}
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <link rel="stylesheet" href="{% static 'ckeditor/ckeditor/contents.css' %}">
</body>
</html>
