{% extends "pegasus/examples/examples_base.html" %}
{% load staticfiles %}
{% block app %}
<style type="text/css">
	.display-none{
		display: none;
	}
	.zoom:hover {
		z-index: inherit;
		transform: scale(3.5);
	}
</style>
<div class="row mt-5 align-items-center justify-content-between">
    <div class="col-auto">
        <h3 class="app-page-title mb-0"><i class="fas fas-info-circle text-success me-2" style="zoom:0.85"></i> POST CONTENT DATA</h3>
    </div>
    <div class="col-auto">
        <div class="page-utilities">
           <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
               <div class="col-auto">						    
                <a href="javascript:void(0)" class="btn btn-success text-end" href="#" data-bs-toggle="modal" data-id="{{website_id}}" data-role="upload_csv"><i class="fa fa-upload"></i> Upload CSV</a>
               </div>
           </div>
       </div>
   </div>
</div>
<br><br>
<section class="app-card">
    <div class="app-card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="post_list" width="100%">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th class="cell text-start">Route Id</th>
                        <th class="cell">Web Id</th>
                        <th class="cell">Title</th>
						<th class="cell">Slug</th>
                        <th class="cell">Date Scheduled</th>
                        <th class="cell">Date Added</th>
                        <th class="cell text-center">Updating Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in post %}
                    <tr>
                        <td>
                            {% if row.status == 'Error' %}
                            <a href="javascript:void(0);" data-role="view_error_result" data-id="{{row.error_results}}" style="cursor:pointer;" class="text-primary">View Error Results</a>
                            {% endif %}
                        </td>
                        <td class="cursor-pointer">{{row.route_id|truncatechars:10}}</td>
                        <td class="cursor-pointer">{{row.web_id|truncatechars:10}}</td>
                        <td class="cursor-pointer">{{row.title}}</td>
                        <td class="cursor-pointer">{{row.slug}}</td>
                        <td class="cursor-pointer">{{row.date|date:"M d, Y"}}</td>
                        <td class="cursor-pointer">{{row.date_added}}</td>
                        <td class="cursor-pointer text-center">{{row.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="modal fade" id="uploadModal" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="uploadModalLabel">Upload CSV File</h5>
				<button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
			</div>
			<form action="/hugo-client/upload-csv/" method="POST" id="uploadForm">
				{% csrf_token %}
                <input type="hidden" name="pk" id="pk">
				<div class="modal-body">
                    <div class="alert alert-primary text-white">
                        <i class="fas fa-info-circle"></i> <strong>IMPORTANT NOTE</strong> before uploading <br><br>
                        <ul style="margin-left: 15px;">
                            <li>Only <strong>CSV</strong> file is allowed. If you have xlsx format please do convert it to csv file.</li>
                            <li><strong>Date Column</strong> must be in format 'yyyy-mm-dd'. </li>
                        </ul>
                    </div>
                    <div class="form-group col-lg-12 mb-3">
                        <label>Page <span class="text-danger">*</span></label>
                        <select class="form-select select2 p-2" name="route" required>
                            <option></option>
                            {% for route in rts %}
                            {% if route.has_pages %}
                            <option value="{{ route.id }}">{{ route.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
					<div class="form-group">
						<label for="csvFile">CSV File <span class="text-danger">*</span></label>
						<input type="file" class="form-control" id="csvFile" name="csvFile" accept=".csv" required>
					</div>
				</div>
				<div class="modal-footer">
                    <a class="btn btn-success" href="{% static 'admin/Articles.csv' %}" target="_blank">Download Format</a>
					<button type="submit" class="btn btn-primary">Upload</button>
					<button type="button" class="btn btn-secondary" id="close-upload-modal" data-bs-dismiss="modal">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal" id="viewModalError" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title"><i class="fas fa-times-circle-o text-danger me-2" style="zoom:0.85"></i>VIEW ERROR RESULT</h5>
				<button type="button" class="btn-close text-dark" data-bs-dismiss="modal" id="close-editindex-modal" aria-label="Close"><i class="fas fa-times"></i></button>
			  </div>
			  <div class="modal-body">
                <h5 class="error_results"></h5>
              </div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('#post_list').DataTable();
    });

    $(document).on('click', 'a[data-role=view_error_result]', function(){
        var id = $(this).data('id');
        $('.error_results').text(id)
        console.log(id);
        var viewModal = new bootstrap.Modal(document.getElementById('viewModalError'), {});
        viewModal.show();
    });


    $(document).on('click', 'a[data-role=upload_csv]', function(){
        var id = $(this).data('id');
        $('#pk').val(id)
        var viewModal = new bootstrap.Modal(document.getElementById('uploadModal'), {});
        viewModal.show();
    });

    $('#uploadForm').on('submit', function(e){
		var form = new FormData(this);
		Swal.fire({
			title: "Are you sure",
			text: "You want to upload this csv for automation?",
			icon: "info",
			showCancelButton: true,
			confirmButtonText: "Yes",
			allowOutsideClick: false,
			showLoaderOnConfirm: true,
			preConfirm: function (){
				const url = $('#uploadForm').attr('action');
				return $.post({
					url: url,
					data: form,
					success : function (response){
						if(response.data == "success"){
							Swal.fire({
								title: "Good job!",
                                html:  'Successfully save the data in csv for automation.',
								icon: "success",
								allowOutsideClick: false,
							}).then((result) => {
								if (result.isConfirmed){
									window.location.reload()
								}
							});
						}else{
                            Swal.fire({
                                title: "Oops!",
                                html:  response.msg,
                                icon: "error",
                                allowOutsideClick: false,
                            });
						}
					},
					cache       : false,
					contentType : false,
					processData : false,
				});
			},
		});
		e.preventDefault();
	});
</script>
{% endblock %}