{% extends 'indexer-admin/layout.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	.display-none{
		display: none;
	}
</style>
	<div class="row mt-5 align-items-center justify-content-between">
		<div class="col-auto">
			<h3 class="app-page-title mb-0"><i class="fas fa-chain text-success me-2" style="zoom:0.85"></i> Url Shortners</h3>
		</div>
		<div class="col-auto">
			 <div class="page-utilities">
				<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
					<div class="col-auto">						    
						<a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add_url_short">
							<i class="fas fa-plus"></i>
							Add Url
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<div class="col-sm-12 row">
		<div class="app-card app-card-orders-table shadow-sm mb-5">
			<div class="app-card-body">
				<div class="table-responsive">
					<table class="table table-hover" id="api_url_shortners" width="100%">
						<thead>
							<tr>
								<th class="cell">Url shortners</th>
								<th class="cell">Visitor Data</th>
								<th class="cell text-center">Times Followed</th>
								<th class="cell">GSCVerify</th>
								<th class="cell text-center">Created At</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>	
		</div>
	</div>
	<div class="modal fade" id="add_url_short" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">CREATE URL SHORTNER</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form id="submitForm">
					{% csrf_token %}
					<div class="modal-body">
						<div class="mb-3">
							<label>GSCVerify <span class="asteriskField">*</span></label>
							<select class="form-select select2" data-dropdown-parent="#add_web" name="api_email" required>
								<option></option>
								{% for row in index_api %}
								<option value="{{ row.id }}">{{ row.email }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group mt-3">
							<label>Pages <span class="text-danger">*</span></label>
							<textarea class="form-control" rows="10" name="pages" required></textarea>
							<small>List of pages you want to index. 1 Url Per Line</small>
						</div>
						<div class="form-group mt-3">
							<label>Shortened URLS  <span class="text-danger">*</span></label>
							<textarea class="form-control" rows="10" name="pages" required></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-api-modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#api_url_shortners').DataTable({
			'serverSide': true,
			'processing': true,
			'deferRender': true,
			'order': [[ 1, 'asc' ]],
			'bDestroy': true,
			'ajax': {
				'url': '{% url "get-url-shortner-api" %}',
				'type': 'GET',
				'dataType': 'JSON',
			},
			'columns': [
				{'data': 'long_url'},
				{'data': 'vistor_data', 'className': 'text-center'},
				{'data': 'times_followed', 'className': 'text-center'},
				{'data': 'gscverify'},
				{'data': 'created', 'className': 'text-center'},
				
			],
			"columnDefs": [
			  { "orderable": false, "searchable": false, "targets": [4] }
			]
		});

		
	});
</script>
{% endblock %}