{% extends "pegasus/examples/examples_base.html" %}
{% load staticfiles %}
{% block app %}
<style type="text/css">
	.display-none{
		display: none;
	}
	.zoom:hover {
		z-index: inherit;
		transform: scale(3.5);
	}
</style>
<div class="row mt-5 align-items-center justify-content-between">
    <div class="col-auto">
        <h3 class="app-page-title mb-0"><i class="fas fa-key text-success me-2" style="zoom:0.85"></i> Index API's</h3>
    </div>
    <div class="col-auto">
         <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                <div class="col-auto">						    
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add_api">
                        <i class="fas fa-plus"></i>
                        Add API
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<section class="app-card">
    <div class="app-card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="api_keys" width="100%">
                <thead>
                    <tr>
                        <th class="cell">Action</th>
                        <th class="cell">Json Email</th>
                        <th class="cell">Method</th>
                        <th class="cell text-center">Total Api Used <br> Today</th>
                        <th class="cell">Created At</th>
                        <th class="cell text-center">Is Active</th>
						<th class="cell text-center">Is Validated</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>
<div class="modal fade" id="add_api" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pencil text-success me-2" style="zoom:0.85"></i> CREATE API <br>
					<span><p><b class="text-danger">Note:</b> Double check your API if it is working or json type. To check you can click this link to validate that api 
						<a class="text-danger" href="https://jsonlint.com/" target="_blank">https://jsonlint.com/</a>. 
						To prevent error in google indexing and make sure that GSC
						is in owner status.</p></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="submitForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label>JSON Email <span class="text-danger">*</span></label>
                        <input name="email" type="text" class="form-control" placeholder="JSON Email" required="required">
                        <small>Paste Email Associated with Json Api Above</small>
                    </div>
                    <div class="mb-3">
                        <label>API Method <span class="text-danger">*</span></label>
                        <select class="form-select select2" data-dropdown-parent="#add_api" name="api_type" id="api_type" required>
                            <option></option>
                            {% for row in method %}
                            <option value="{{ row.id }}">{{ row.type_method }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>JSON Keys <span class="text-danger">*</span></label>
                        <textarea class="form-control" name="keys"></textarea>
                        <small>Paste Json Key from Index Api Above</small>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="status">
                        <label class="form-check-label" for="flexCheckDefault">
                            Status
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-api-modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="viewModal" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-edit text-success me-2" style="zoom:0.85"></i> EDIT API <br>
				<span><p><b class="text-danger">Note:</b> Double check your API if it is working or json type. To check you can click this link to validate that api 
					<a class="text-danger" href="https://jsonlint.com/" target="_blank">https://jsonlint.com/</a>. 
					To prevent error in google indexing and make sure that GSC 
					is in owner status.</p></span></h5>
            <button type="button" class="btn-close"  data-bs-dismiss="modal" id="close-up-modal" aria-label="Close"></button>
          </div>
          <div class="view_edit_modal_content"></div>
        </div>
      </div>
</div>
<div class="modal" tabindex="-1" id="viewUsageModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-history text-success me-2" style="zoom:0.85"></i> USAGE OF INDEX HISTORY</h5>
            <button type="button" class="btn-close" onClick="closeModal('viewUsageModal')"></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-hover" id="api_usage" width="100%">
                    <thead>
                        <tr>
                            <th class="cell text-center">Total</th>
                            <th class="cell text-center">Date Used</th>
                        </tr>
                    </thead>
                </table>
            </div>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	$('.select2').select2({
		width: '100%',
		theme: 'bootstrap-5',
	    placeholder: 'Choose',
	});
	
    $(document).ready(function(){
		$('#api_keys').DataTable({
			'serverSide': true,
			'processing': true,
			'deferRender': true,
			'lengthMenu': [ 10, 25, 50, 100 ],
			'order': [[ 4, 'desc' ]],
			'bDestroy': true,
			'ajax': {
				'url': `/indexer/new/api/user/api/list/{{request.user.id}}?format=datatables`,
				'type': 'GET',
			},
			'columns': [
				{'data': 'id',
					'render': function(data, type, row, meta) {
						return `<a data-role="edit" data-id=`+ row['id'] + ` style="cursor:pointer;" class="text-primary">View</a> | <br>
								<a data-role="validate" data-id=`+ row['id'] + ` style="cursor:pointer;" class="text-primary">Check error to validate</a>`
					}
				},
				{'data': 'email',
                    'render': function(data, type, row, meta){
                        return '<span style="white-space: normal;">'+data+'</span>'
                    }
                },
				{'data': 'method', 
					'render': function(data, type, row, meta) {
						return '<span class="badge bg-info">'+data+'</span>'
					},
					'searchable': false, 'className': 'text-center'
				},
				{'data': 'usage',
					'render': function(data, type, row, meta) {
						return '<a href="javascript:void(0);" data-role="view_usage" data-id='+ row['id'] +' style="cursor:pointer;" class="text-primary">'+data+'</a>'
					},
					'searchable': false, 'className': 'text-center'
				},
				{'data': 'created_at'},
				{'data': 'status',
					'render': function(data, type, row, meta) {
						if(row['status'] == 1) {
							return '<svg xmlns="http://www.w3.org/2000/svg" width="16" style="color:green" height="16" fill="currentColor" class="bi 					bi-check-circle" viewBox="0 0 16 16">\
										  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
										  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>\
									</svg> Active'
						}else if (row['status'] == 0) {
							return '<svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi 						bi-x-circle" viewBox="0 0 16 16">\
									  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
									  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>\
									</svg> Inactive'
						}
					},
					'className': 'text-center'
				},
				{'data': 'is_validated',
					'render': function(data, type, row, meta) {
						if(row['is_validated'] == 1) {
							return '<svg xmlns="http://www.w3.org/2000/svg" width="16" style="color:green" height="16" fill="currentColor" class="bi 					bi-check-circle" viewBox="0 0 16 16">\
										  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
										  <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>\
									</svg> Validated'
						}else if (row['is_validated'] == 0) {
							return '<svg xmlns="http://www.w3.org/2000/svg" style="color:red" width="16" height="16" fill="currentColor" class="bi 						bi-x-circle" viewBox="0 0 16 16">\
									  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
									  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>\
									</svg> Not Validated'
						}
					},
					'className': 'text-center'
				},
			],
			"columnDefs": [
			  { "orderable": false, "searchable": false, "targets": [4] }
			]
		});

		$(document).on('click', 'a[data-role=validate]', function(){
        	var id = $(this).data('id');
			Swal.fire({
				title: "Are you sure",
				text: "Do you want to validate this api?",
				icon: "warning",
				showCancelButton: true,
				confirmButtonColor: "#DD6B55",
				confirmButtonText: "Yes",
				allowOutsideClick: false,
				showLoaderOnConfirm: true,
				preConfirm: function (){
					return $.ajax({
						url: "/indexer/user/check_api_to_validate/",
						data: {
							id: id
						},
						type: "POST"
					});
				}
				}).then(function (response){
					if (response.value.data == 'success'){
						Swal.fire({
						title: "Good job!",
						html:  response.value.msg,
						icon: "success",
						confirmButtonColor: "#3498DB",
						allowOutsideClick: false,
						}).then((result) => {
							if (result.isConfirmed) {
								$('#api_keys').DataTable().ajax.reload();
							}
						});
					}else{
						Swal.fire({
							title: "Oops!",
							html:  response.value.msg,
							icon: "error",
							allowOutsideClick: false,
						});
					}
				});
		});

		$(document).on('click', 'a[data-role=view_usage]', function(){
        	var id = $(this).data('id');
        	$('#viewUsageModal').toggle('modal');
        	$('#api_usage').DataTable({
				'serverSide': true,
				'processing': true,
				'deferRender': true,
				'lengthMenu': [ 10, 25, 50, 100 ],
				'order': [[ 0, 'asc' ]],
				'bDestroy': true,
				'ajax': {
					'url': `/indexer/new/api/index-usage/`+id+`?format=datatables`,
					'type': 'GET',
				},
				'columns': [
					{'data': 'total', 'className': 'text-center'},
					{'data': 'date_created', 'className': 'text-center'},
				],
			});

        });

		$('#submitForm').on('submit', function(e){
			var form = new FormData(this);
			Swal.fire({
				title: "Are you sure",
				text: "You want to add this api key?",
				icon: "info",
				showCancelButton: true,
				confirmButtonText: "Yes",
				allowOutsideClick: false,
				showLoaderOnConfirm: true,
				preConfirm: function (){
					return $.post({
						url: "/indexer/user/index-api/",
						data: form,
						success : function (response){
							if(response.data == "success"){
								Swal.fire({
									title: "Good job!",
									html:  response.msg,
									icon: "success",
									allowOutsideClick: false,
								}).then((result) => {
									if (result.isConfirmed){
										$('#submitForm').trigger('reset');
										$('#api_keys').DataTable().ajax.reload();
										$('#close-api-modal').click();
									}
								});
							}else{
								Swal.fire({
									title: "Oops!",
									html:  response.msg,
									icon: "error",
									allowOutsideClick: false,
								});
							}
						},
						cache       : false,
						contentType : false,
						processData : false,
					});
				},
			});
			e.preventDefault();
		});

		$(document).on('click', 'a[data-role=edit]', function(){
	        var id = $(this).data('id');
	        var viewModal = new bootstrap.Modal(document.getElementById('viewModal'), {});
			$('.view_edit_modal_content', $('#viewModal')).load('/indexer/user/index-api/update/' + id, function(){
				viewModal.show();
			});
	    });
	});

    const closeModal = (modal) => {
        $(`#${modal}`).toggle('modal');
    }
</script>
{% endblock %}