{% extends "pegasus/examples/examples_base.html" %}
{% load staticfiles %}
{% block app %}
<style type="text/css">
	.display-none{
		display: none;
	}
	.zoom:hover {
		z-index: inherit;
		transform: scale(3.5);
	}
    .text-nowrap {
        white-space: nowrap;
    }
</style>
<div class="row mt-5 align-items-center justify-content-between">
    <div class="col-auto">
        <h3 class="app-page-title mb-0"><i class="fas fa-image text-success me-2" style="zoom:0.85"></i> Image Optimizer</h3>
    </div>
    <div class="col-auto">
         <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                <div class="col-auto">				    
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#add_web">
                        <i class="fas fa-plus"></i>
                        Add Image Url
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<section class="app-card">
	<div class="app-card-body">
		<div class="table-responsive">
			<table class="table table-hover text-nowrap" id="tbl_image_op" width="100%">
				<thead>
					<tr style="white-space: nowrap;">
						<th class="cell">Action</th>
						<th class="cell">Url</th>
                        <th class="cell">Entities</th>
                        <th class="cell">Longitude</th>
                        <th class="cell">Latitude</th>
						<th class="cell text-center">Created Date</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</section>
<div class="modal fade" id="add_web" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-pencil text-success me-2" style="zoom:0.85"></i> OPTIMIZE IMAGES</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'image_optimizer' %}" method="post">
            <!-- <form id="submitForm"> -->
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label>Url <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="url" id="url" placeholder="Url" required>
                    </div>
                    <div class="form-group mt-3">
                        <label>Entities (comma-separated) <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="10" name="entities" id="entities" required></textarea>
                        <small>List of pages you want to check in image optimizer. 1 Url Per Line</small>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group mt-3">
                                <label>GPS Lat <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group mt-3">
                                <label>GPS Long <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Longitude" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-web-modal">Close</button>
                    <button type="submit" class="btn btn-primary clear-wrapper">Download</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="viewPagesModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-image text-success me-2" style="zoom:0.85"></i> VIEW FILE NAME RESULTS</h5>
            <button type="button" class="btn-close" onClick="closeModal('viewPagesModal')"></button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-hover" id="user_file_tbl" width="100%">
                    <thead>
                        <tr>
							<th class="cell" style="white-space: nowrap;">Filename</th>
							<th class="cell" style="white-space: nowrap;">Exif Data</th>
							<th class="cell" style="white-space: nowrap;">GPS</th>
                        </tr>
                    </thead>
                </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onClick="closeModal('viewPagesModal')">Close</button>
        </div>
        </div>
    </div>
</div>
<div class="modal" id="viewModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-edit text-success me-2" style="zoom:0.85"></i>VIEW INFORMATION</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="close-editindex-modal" aria-label="Close"></button>
              </div>
              <div class="view_edit_modal_content"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.clear-wrapper').click(function(){
        setTimeout(function(){
            $('#close-web-modal').click();
            $('#url').val('');
            $('#entities').val('');
            $('.loader-wrapper').fadeOut('slow');
            $('#tbl_image_op').DataTable().ajax.reload();
        }, 8000);
    });

    $('.select2').select2({
		width: '100%',
		theme: 'bootstrap-5',
	    placeholder: 'Choose',
	});

    $(document).ready(function(){
		$('#tbl_image_op').DataTable({
			'serverSide': true,
			'processing': true,
			'deferRender': true,
			'lengthMenu': [ 10, 25, 50, 100 ],
			'order': [[ 2, 'desc' ]],
			'bDestroy': true,
			'ajax': {
				'url': '/indexer/new/api/image-optimizer/{{request.user.id}}?format=datatables',
				'type': 'GET',
			},
			'columns': [
				{'data': 'id',
					'render': function(data, type, row, meta) {
                        template = '<a href="javascript:void(0);" data-role="download_btn" data-id="'+ data + '"  style="cursor:pointer;" class="text-primary">Download Again</a>';
                        template += ' | <a href="javascript:void(0);" data-role="view_pages" data-id="'+ data + '" style="cursor:pointer;" class="text-primary">Filename</a>';
						return template
					}, 'className': 'text-center'
				},
				{'data': 'url'},
                {'data': 'entities'},
                {'data': 'gps_long', 'className': 'text-center'},
                {'data': 'gps_lat', 'className': 'text-center'},
				{'data': 'datetime_added', 'className': 'text-center'},
			],
		});
    });

    $(document).on('click', 'a[data-role=download_btn]', function(){
    	var id = $(this).data('id');
        console.log(id);
        var viewModal = new bootstrap.Modal(document.getElementById('viewModal'), {});
		$('.view_edit_modal_content', $('#viewModal')).load('/indexer/user/image-optimizer/download_image_again/' + id, function(){
			viewModal.show();
		});
    });

    $(document).on('click', 'a[data-role=view_pages]', function(){
        var id = $(this).data('id');
        $('#user_file_tbl').DataTable({
			'serverSide': true,
			'processing': true,
			'deferRender': true,
			'lengthMenu': [ 10, 25, 50, 100 ],
			'order': [[ 0, 'asc' ]],
			'bDestroy': true,
			'ajax': {
				'url': `/indexer/new/api/image-optimizer-file/`+id+`?format=datatables`,
				'type': 'GET',
			},
			'columns': [
				{'data': 'image_filename', 'className': 'text-nowrap'},
				{'data': 'exif_data', 'className': 'text-nowrap'},
                {'data': 'gps', 'className': 'text-nowrap'},
			],
		});
		$('#viewPagesModal').toggle('modal');
    });

    const closeModal = (modal) => {
		$(`#${modal}`).toggle('modal');
	}
</script>
{% endblock %}